<strong>New Comment</strong>
<%= simple_form_for [@ticket, @comment] do |f| %>
  <%= f.error_notification %>  
  <p>
    <%= f.input :text %>
  </p>

  <% authorized?(:"change states", @project) do %>
  <p>
    <%= label_tag :tags %>
    <%= text_field_tag :tags, params[:tags] %>
    <%= f.label :state_id %>
    <%= f.select :state_id, @states.map { |s| [s.name, s.id] },
          :selected => @ticket.state_id %>
  </p>
  <% end %>

  <%= f.button :submit %>
<% end %>

