<strong>New Comment</strong>
<%= simple_form_for [@ticket, @comment] do |f| %>
  <%= f.error_notification %>  
  <p>
    <%= f.input :text %>
  </p>
  <p>
    <%= f.label :state_id %>
    <%= f.select :state_id, @states.map { |s| [s.name, s.id] },
          :selected => @ticket.state_id %>
  </p>
  <%= f.button :submit %>
<% end %>

